.button-sidebar {
    background: transparent;
    border: none;
    padding: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    height: 45px;
    width: 45px;    
    margin-top: 20px;
}

    .button-sidebar:hover {
    background-color: rgba(0, 0, 0, 0.05);
    }

        .button-sidebar:focus {
        outline: none;
        }

.button-header{
    background: transparent;
    border: none;
    padding: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    height: 45px;
    width: 45px;    
    margin-top: 20px;
}

.button-setting {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 70px;
    padding: 30px; 
}

.folder-button input[type="file"] {
    display: none; /* Amaga l'input de fitxer */
}


.sidebar-stats {
    position: relative;
}

.stats-panel {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 30px;

    width: 200px;
    padding: 10px;
    

    background: transparent;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.6);

    font-family: ComicRelief, Inter, Poppins, Arial, sans-serif;;
    font-size: 18px;
}

.stats-panel.visible {
    display: block;
}